@import url("./content/frontmatter.css");
@import url("./content/markdown-viewer.css");
@import url("./content/no-file.css");

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  min-height: 0;
}

.content > div {
  flex: 1 0 auto;
}
