@import url("./content/frontmatter.css");
@import url("./content/markdown-viewer.css");
@import url("./content/no-file.css");

/* Content area wrapper (contains content + TOC panel) */
.content-area {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  min-height: 0;
}

.content {
  flex: 1;
  overflow-y: auto;
  min-height: 0;
}
