@import url("./variables.css");
@import url("./scrollbar.css");
@import url("./components/app.css");
@import url("./components/icon.css");
@import url("./components/sidebar.css");
@import url("./components/quick-access.css");
@import url("./components/header.css");
@import url("./components/search-bar.css");
@import url("./components/tab-bar.css");
@import url("./components/tab-context-menu.css");
@import url("./components/content-context-menu.css");
@import url("./components/content.css");
@import url("./components/content/code-copy.css");
@import url("./components/toc-panel.css");
@import url("./components/mermaid-window.css");
@import url("./components/preferences.css");
@import url("katex/dist/katex.min.css");

/* App-wide styling */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  overflow: hidden;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

/* Shared animations */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
